.Gcard-org{
   
}
.img-con{
    padding: 103px 44px;
}
.Mask-img{
   
   
    position:absolute;
} 
.four-cal{
    margin-left: 26px;
}
.money{
    font-size: 27px;
    font-weight: 600;
    /* margin-right: 19px; */
}
.earn{
    color:#b0aeb4;
}
.values-0{
    text-align: start;
    padding-left: 80px;
    padding-top: 37px;
    justify-content: space-between;
}
.rupees{
    background: #6b5bd5;
    border-radius: 6px;
    padding: 10px;
    background: #6b5bd5;
    border-radius: 6px;
    padding: 5px;
    margin-left: 266px;
    display: flex;
    justify-content: center;
margin-top: 77px;    
}
.earning{
    margin-top: 10px;
}
.my{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: -0.4rem !important;
}
.loyo{
    font-size: 31px;
    font-weight: 400;
    color: #d6d6d6;
}
.edit{
    font-size: 14px;
    color: #d6d6d6;
    font-weight: 600;
}
.drop-down-0{
    text-align: end;
}
.class-logo{
    padding-top: 0px;
}
.center-deop{
padding-right: 50px;
}
p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
.Name{
    font-size: 23px;
    font-weight: 600;
    color: #d6d6d6;
}
.btn-primary:hover {
    color: #fff;
    background-color:black;
    border-color: none;
}
 .btn-primary:focus {
    color: #fff;
    background-color: black;
    border-color: none;
    box-shadow: none;
}
.primary.dropdown-toggle:focus {
    box-shadow: transparent;
}
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: black;
    border-color: transparent;
    box-shadow: none !important;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.bg-dp{
    background: black;
    border: transparent;
}
.top-up{
    justify-content: space-between;
}
.img-card{
    background-image: url("../Images/Mask.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.name-5{
    padding: 35px 7px;
    margin-top: 9px;
}
.top-img{
    padding: 38px 6px 0px 31px
} 
.lady-img{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #6b5bd5;
}  
/* .lady{
    padding-top: 50px;
    padding-left: 35px;
} */

/* tabs css */
.btn-col{
    border-radius: 27px;
    padding: 1px 6px;
    background: #0c0c11;
    border: transparent;
    color: white !important;
}
.btn-col:hover{
    background-color: rgb(88 87 206);
     
}
.act{
    color: white;
}
.prop-ty{
    justify-content: space-between;
    padding-top: 34px;
}
.my-prop{
    font-size: 24px;
    color: #fff;
}
.act:hover{
    color: white;
}
.tabs-yp{
    padding-top: 30px;
}
.second-btn{
    margin-left: 14px;
}
.multi-sel{
    width: 30%;
}
.searchWrapper {
    border: none !important;
    border-radius: 28px !important;
    padding: 10px !important;
    background: #0c0c11;
    min-height: 22px;
    position: relative;
}
.multiSelectContainer input {
    width: 20%;
    border: none;
    margin-top: 3px;
    background: transparent;
    margin-left: 16px;
}
.chip {
    padding: 4px 10px;
    background: rgb(54 17 156) !important;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
}
.optionListContainer {
    position: absolute;
    width: 100%;
    background: #e2e2e4 !important;
    border-radius: 4px;
    margin-top: 1px;
    z-index: 2;
}
.highlightOption {
    background: #816fcf !important;
    color: #fff;
}
.multiSelectContainer li {
    /* background: #46328f !important;
    color: #fff;
    cursor: pointer; */
    border-radius:4px;
    /* border:1px solid rgb(14, 13, 13); */
}
.multiSelectContainer li:hover {
    background: #46328f !important;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.multiSelectContainer ul {
    display: block;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(240, 235, 235) !important;
    border-radius: 10px;
    max-height: 250px;
    overflow-y: auto;
}
.mul-top{
    padding-top: 40px;
}