/* getStart Component */
.count-pg {
  top: 0;
  background: rgb(4 5 10);
  /* background-image: url("../Images/Micr.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  width: 100%;
}
.backgr-img::after{
  content: "";
background-image: url("../Images/Micr.png");
position: absolute;
background-size:100% 100%;
top: -270px;
left: -50%;
right: -50%;
bottom: 0;
background-size: 100% 100%;

}
.container{
  max-width: 1440px;
  margin: auto;
}
.mirc-img{
  background-size: cover;
    width: 100%;
}
.contain {
  padding-top: 55px;
}
.get-start {
  padding-top: 50px;
}

.pd-re {
  padding-left: 23px;
}

.poback {
  padding-right: 32px;
}
.h-head {
  justify-content: space-between;
  align-items: center;
}
.bg-card1 {
  background: rgb(12 13 18);

  /* padding: 14px 28px; */
  border-radius: 16px;
  padding-bottom: 156px;
}
.li-pd:hover {
  background: linear-gradient(to right, rgb(54, 17, 156) -11%, transparent 15%);
  border-left-color: rgb(54, 17, 156);
  border-left: 3px solid rgb(54, 17, 156);
}
.li-pd:focus {
  background: linear-gradient(to right, rgb(54, 17, 156) -11%, transparent 15%);
  border-left: 3px solid rgb(12 13 18);
  border-left-color: rgb(54, 17, 156);
}
.li-pd {
  padding: 13px 14px 12px 28px;
  border-left: 3px solid transparent;
}
.colo-eff {
  /* background: linear-gradient(to right, blue, 10%, transparent); */
  background: linear-gradient(to right, rgb(54, 17, 156) -11%, transparent 15%);
  border-left: 3px solid rgb(54, 17, 156);
  border-left-color: rgb(54, 17, 156);
}

.bg-card2 {
  background: rgb(15 15 21);

  border-radius: 16px;
}

.details {
  padding-left: 74px;
  font-weight: 400;
}
.timmer {
  padding-right: 17px;
  color: rgb(236 230 252);
  cursor: pointer;
  font-size: 13px;
}
.ul-l {
  background-color: rgb(11 12 17);
  padding: 11px 20px;
  margin-bottom: 0rem;
}
.ul-ls {
  background-color: rgb(15 16 21);
  padding: 11px 20px;
  margin-bottom: 0rem;
  border-radius: 0px 0px 13px 13px;
}
.uppr-time {
  color: rgb(236 230 252);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.card-top0 {
  padding-top: 1.9rem;
}

/* multi-card */
.sec-2 {
  padding-top: 120px;
}
.bgo-star1 {
  border-radius: 10px;
  background: rgb(10 11 16);
  overflow: hidden;
}
 .shape-point{
   z-index: 3;
 }       
/* .arrow-pointer {
  width: 250px;
  height: 50px;
  background: #32557f;
  position: relative;
}
  .arrow-pointer:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #7eb4e2;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  .arrow-pointer:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #32557f;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;

} */
    

 .bgo-star1::before{
  content: '';
  position: absolute;
 top: 0;
 left:0;
 bottom:0;
  width: 81px;
  /* height: 127px; */
  background: #2e276e;

  border-radius: 12px 1px 0px 12px;
  
}
.shape-bgs::after{
  position: absolute;
  content: "";
  z-index: 3;
  width: 22px;
  height: 80%;
  left: 49px;
  bottom: -21px;
  border-left: 20px solid rgb(10 11 16)!important;
  border: 11px solid hsla(0,0%,100%,0);
  transform: rotate( 
217deg);

}
.shape-bgs::before{
  content: '';
  top: -31px;
  border-left: 20px solid rgb(10 11 16)!important;
  border: 10px solid hsla(0,0%,100%,0);
  transform: rotate( 
143deg);
  position: absolute;
  z-index: 3;
  width: 22px;
  height: 91%;
  left: 47px;
}
.bgo-star1::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 81px;
  top: 0;
  border-left: 50px solid #2e276e !important;
  border: 64px solid transparent;
  
} 
.micro-low {
  flex: 0 0 auto;
  width: 20%;
}
.micro {
  width: 100%;
}
.how0it {
  padding-top: 20px;
}
.what {
  font-size: 15px;
  padding-left: 15px;
  font-weight: 400;
  padding-bottom: 25px;
  margin-bottom: 0rem;
}
.boot {
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 33px;
}
.star-01 {
  border-radius: 10px;
  background: rgb(27 19 57);
}
.bgo-star {
  border-radius: 10px;
  background: rgb(10 11 16);
}
.card01 {
  font-size: 46px;
  color: white;
  padding-top: 7px;
  font-weight: 700;
  margin-bottom: 0.3rem;
  padding-left: 12px;
}
.box-2 {
  width: 40px;
  height: 40px;
  background: rgb(32 21 62);
  border: none;
}
.box-2:checked {
  background-color: rgb(14, 27, 53);
  border-color: transparent;
}
.stardex {
  font-size: 31px;
  font-weight: 700;
  color: rgb(124 120 126);
}

.comyou {
  font-size: 14px;
  color: rgb(124 120 126);
}

/* on focus event */
.form-check-input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

/* .boot-cls{

  } */

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #2240a0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 11px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* form-group */
.form-group-1 {
  display: block;
  margin-bottom: 15px;
}

.form-group-1 input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-1 label {
  position: relative;
  cursor: pointer;
}

.form-group-1 label:after {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #2240a0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group-1 input:checked + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* videoEle */
.vista-card {
  border-radius: 16px;
  background: #26292e;
  border: none;
}
.video-react:hover .video-react-big-play-button,
.video-react .video-react-big-play-button:focus {
  outline: 0;
  border-color: #fff;
  /* background-color: #73859f; */
  /* background-color: rgba(115, 133, 159, 0.5); */
  transition: all 0s;
}
.video-react:hover .video-react-big-play-button {
  background-color: #fff;
}
.video-react-has-started .video-react-control-bar {
  margin-bottom: 12px;
}

.video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3 {
  width: 100%;
  max-width: 100%;
  height: 0;
  /* padding-top: 52.25% !important; */
  border-radius: 12px;
}
.form-check-input:checked {
  background-color: #18191b;
  border-color: transparent;
}
.video-react .video-react-video {
border-radius: 15px;
}
.video-react .video-react-big-play-button:before {
  content: "";
  color: rgb(116 97 227);
}
/* video icon css */
.video-react .video-react-big-play-button {
  background: white;
  font-size: 3em;
  line-height: 1.9em;
  height: 2em;
  width: 2.1em;
  display: block;
  position: absolute;
  top: 45%;
  left: 45%;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 2px solid #fff;
  background-color: #fdfdfd;
  /* background-color: transparent; */
  border-radius: 50%;
  transition: all 0.4s;
}
.video-react .video-react-control:before {
  font-size: 1.8em;
  line-height: 1.67;
  color: aliceblue;
  background-color: #2240a0;
}
.video-react *,
.video-react *:before,
.video-react *:after {
  box-sizing: inherit;
  color: aliceblue;
}
.choose-cls {
  padding: 1px 0px 1px 16px;
  border-radius: 11px;
  background: rgb(12 11 17);
}

.cls-c0 {
  /* margin: 4px; */
  margin: 6px 0px 6px 4px;
}

.img-end {
  background-image: url("../Images/Microsoft.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 11px;
  
}

.rightinf {
  margin-top: 0px;
  margin-bottom: 0rem;
  font-size: 13px;
  font-weight: 600;
}
.bg-card4 {
  background: rgb(9 10 15);
  /* padding: 20px; */
  border-radius: 15px;

  /* padding-bottom: 19px; */
}
.desc {
  padding: 20px 30px 1px 24px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0px;
  background: rgb(14 15 21);
}
.shapevb {
  margin-bottom: 3px;
}
.new {
  background: rgb(16 17 22);
  margin-bottom: -18px;
  margin-top: -18px;
  /* padding-top: 7px; */
  /* padding-bottom: 2px; */
  border-radius: 8px;
  padding: 8px 17px 8px 18px;
}
.Also-cls {
  padding: 23px;
  margin-bottom: -3px;
}
.weight01 {
  font-weight: 300;
}
.access-to {
  padding-left: 29px;
  font-weight: 300;
}
.serect-choice {
  padding-left: 12px;
  font-weight: 300;
  font-size: 14px;
}
.Shape-light00 {
  padding-left: 22px;
}
.desc-01 {
  font-weight: 500;
  font-size: 15px;
}
.mar-ilm {
  display: block;
  margin-bottom: 1px;
  font-size: 13px;
  font-weight: 600;
}
.atag {
  color: rgb(88 87 206);
  text-decoration: underline;
}
.atag:hover,
:focus {
  color: rgb(88 87 206);
  text-decoration: underline;
}
/*  */
.mar-tp {
  padding-top: 8px;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
p {
  font-size: 14px;
  font-weight: 500;
}

.choose-1 {
  align-items: center;
}

.wel-to {
  padding: 13px 14px 0px 10px;
}
.ls-0 {
  border-radius: 0px 0px 10px 10px;
}

/* .ic0::after{
content: url(../Images/playic.svg);
} */

/* custom chek-box*/
/* This css is for normalizing styles. You can skip this. */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.micro-top {
  flex: 0 0 auto;
  width: 40%;
}

.lst-11 {
  width: 19.92%;
}
.box-01 {
  width: 40px;
  height: 40px;
  background: rgb(16 17 22);
  border: none;
  margin-bottom: 1px;
}
/* 01 input-box */

.star-pu {
  padding: 18px 26px;
}

ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}
.ata {
  color: rgb(88 87 206);
  text-decoration: none;
  font-weight: 500;
}
.ata:hover,
:focus {
  color: rgb(88 87 206);
  text-decoration: none;
  font-weight: 500;
}

/* mobile */
/* @media screen and (min) */
@media screen and (min-width: 350px) and (max-width: 1100px) {
  .micro-low {
    flex: 0 0 auto;
    width: 50%;
    padding: 12px;
  }
  .access-to {
    padding-left: 0px;
  }
  .micro-top {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;

  }
  .star-4{
    /* padding-top: 20px; */
  }
  .mirc-img{
    display: none;
  }
  .how0it {
    padding-top: 0px;
}
}
@media screen and (min-width: 320px) and (max-width: 490px) {
  .containe {
    padding: 18px 15px 14px 15px;
  }
  .mirc-img{
    display: none;
  }
  .Shape-light00 {
    padding-left: 0px;
    margin: 10px;
  }
  .micro-low {
    flex: 0 0 auto;
    width: 50%;
    padding: 12px;
  }
  .access-to {
    padding-left: 0px;
  }
  .micro-top {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
  }
  .h2-font {
    font-size: 23px;
  }
  .poback {
    padding-right: 20px;
  }
  .star-pu {
    padding: 9px;
  }
  .stardex {
    color: #7c787e;
    font-size: 23px;
    font-weight: 700;
  }
  .details {
    padding-left: 0px;
  }
  .boot {
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 19px;
  }
  .uppr-time {
    font-size: 13px;
  }
  .rightinf {
    font-size: 11px;
  }
  .serect-choice {
    padding-left: 0px;
    font-weight: 300;
    font-size: 12px;
  }
  .choose-cls {
    padding: 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .uppr-time {
    font-size: 10px;
  }
  .timmer {
    padding-right: 6px;
    color: rgb(236 230 252);
    cursor: pointer;
    font-size: 11px;
  }
  .micro-low {
    flex: 0 0 auto;
    width: 100%;
    padding: 12px;
  }
  .img-end {
    background-image: url("../Images/Microsoft.png");
    background-repeat: no-repeat;
  
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .poster-o {
    padding-top: 27px;
  }
  .contain{
    padding-top: 91px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contain{
    padding-top: 91px;
  }
}
@media screen and (min-width: 1420px) and (max-width: 2600px) {
  .micro {
    width: unset;
  }
}
