
.containe {
    padding: 18px 30px 14px 49px;
}
.mar-tp{
  padding-top: 8px;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
p{
    font-size: 14px;
    font-weight: 500;
}
/* .serect-choice::before{
  content: url(../Images/Shapelight.svg);
} */
.weight01{
  font-weight: 300;
}
.access-to{
  padding-left: 29px;
  font-weight: 300;
}
.get-start{
    padding-top: 50px;
    background: rgb(4 5 10);;
}
.h-head{
    justify-content: space-between;
    align-items: center;
}
.choose-1{
    align-items: center;

}
.cls-c0{
  margin: 6px;
}

.rightinf{
  margin-top: 0px;
  margin-bottom: 0rem;
  font-size: 13px;
  font-weight: 600;
}
.wel-to{
    padding: 13px 14px 0px 10px;
}
.ls-0{
    border-radius: 0px 0px 10px 10px;   
}
.desc{
    padding: 20px 30px 1px 24px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
    background: rgb(14 15 21);
}
.shapevb{
  margin-bottom: 3px;
}
.Also-cls{
    padding: 23px;
    margin-bottom: -3px;
}
.bg-card4{
    background: rgb(9 10 15);
    /* padding: 20px; */
    border-radius: 15px;

    /* padding-bottom: 19px; */

    
}
.pd-re{
  padding-left: 23px;
}
.poback{
  padding-right: 32px;
}
.bg-card1{
    background: rgb(12 13 18);
    padding: 14px 28px;
    border-radius: 16px;
    padding-bottom: 165px;
}
.bg-card2{
    background: rgb(15 15 21);;
    
    border-radius: 16px;
    
}
/* .ic0::after{
content: url(../Images/playic.svg);
} */
.vista-card{
    border-radius: 16px;
    background: #26292e;
    border: none;
}
.card-top0{
  padding-top: 1.9rem;
}
.choose-cls{
    padding: 1px 0px 1px 16px;   
    border-radius: 11px;
    background: rgb(12 11 17);
}
/* custom chek-box*/
/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .micro{
    width: 100%;
  }
  .micro-top{
    flex: 0 0 auto;
    width: 39.333333%;
  }
  .micro-low{
    flex: 0 0 auto;
    width: 19.8%;
  }
  .new{
      padding-right: 15px;
     
  }
  .lst-11{
    width: 19.92%;
  }
  .box-01{
    width: 40px;
    height: 40px;
    background:rgb(16 17 22);
    border: none;
    margin-bottom: 16px;
  }
  /* 01 input-box */
  .box-2{
    width: 40px;
    height: 40px;
    background:rgb(32 21 62);
    border: none;
  }
  .box-2:checked {
    background-color: rgb(14, 27, 53);
    border-color: transparent;
}
.star-pu{
  padding: 18px 26px;
}
.atag {
  color: rgb(88 87 206);
  text-decoration: underline;
}
ul {
  padding-left: 0rem;
  margin-bottom: 1.5rem;
 
 
}
.ata{
  color: rgb(88 87 206);
  text-decoration: none;
  font-weight: 500;
}
.stardex{
  font-size: 31px;
  font-weight: 700;
  color:rgb(124 120 126)
}
.comyou{
  font-size: 14px;
  color:rgb(124 120 126)
}
.timmer{
  padding-right: 17px;
  color: rgb(236 230 252);
  cursor: pointer;
  font-size: 13px;
}
.ul-l{
  background-color:rgb(11 12 17);
  padding: 11px 20px;
  margin-bottom: 0rem;
}
.ul-ls{
  background-color: rgb(15 16 21);
  padding: 11px 20px;
  margin-bottom: 0rem;
  border-radius: 0px 0px 13px 13px;
}
.uppr-time{
  color: rgb(236 230 252);
  cursor: pointer;
  font-weight: 500;
  font-size:14px;
}
  /* on focus event */
  .form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.video-react:hover .video-react-big-play-button, .video-react .video-react-big-play-button:focus {
  outline: 0;
  border-color: #fff;
  /* background-color: #73859f; */
  /* background-color: rgba(115, 133, 159, 0.5); */
  transition: all 0s;
}
.video-react:hover .video-react-big-play-button{
  background-color: #fff;
}
.video-react-has-started .video-react-control-bar{
  margin-bottom: 60px;
}
  .star-01{
      border-radius: 10px;
      background: rgb(27 19 57);
  }
  .bgo-star{
    border-radius: 10px;
    background: rgb(10 11 16);
}
  .form-check-input:checked {
    background-color: #18191b; 
     border-color: transparent;
}
.video-react .video-react-big-play-button:before {
  content: "";
  color: rgb(116 97 227);
}
  .boot-cls{

  }
  .card01{
    font-size: 54px;
    color: white;
    padding-top: 7px;
    font-weight: 700;
  }
  .how0it{
    padding-top: 20px;
  }
  .what{
    font-size: 15px;
    padding-left: 12px;
    font-weight: 400;
  }
  .boot{
      justify-content: space-between;
      align-items: center;
      padding-left: 12px;
      padding-right: 33px;
  }
  .form-group {
    display: block;
    margin-bottom: 15px;
  }
  .mar-ilm{
    display: block;
      margin-bottom: 1px;
      font-size: 13px;
    font-weight: 600;
  }
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #2240a0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  /* form-group */
  .form-group-1 {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group-1 input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group-1 label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group-1 label:after {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #2240a0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  .sec-2{
    padding-top: 120px;
  }
  .details{
    padding-left: 74px;
    font-weight: 400;
  }
  .form-group-1 input:checked + label:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  /* video icon css */
  .video-react .video-react-big-play-button {
    background: white;
    font-size: 3em;
    line-height: 1.9em;
    height: 2em;
    width: 2.1em;
    display: block;
    position: absolute;
    top: 45%;
    left: 45%;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 2px solid #fff;
    background-color: #fdfdfd;
    /* background-color: transparent; */
    border-radius: 50%;
    transition: all 0.4s;
    
}
.video-react .video-react-control:before {
  font-size: 1.8em;
  line-height: 1.67;
  color: aliceblue;
  background-color: #2240a0;
}
.video-react *, .video-react *:before, .video-react *:after {
  box-sizing: inherit;
  color: aliceblue;
}
.serect-choice{
  padding-left: 24px;
  font-weight: 300;
}
.desc-01{
  font-weight:500;
  font-size: 15px;
}
  /* mobile */
  /* @media screen and (min) */
  @media  screen and (min-width:350px)and (max-width:1100px) {
.micro-low{
  flex: 0 0 auto;
    width: 50%;
    padding: 12px;
  }
  .access-to {
    padding-left: 0px;
}
.micro-top{
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;

}
  }
  @media  screen and (min-width:320px)and (max-width:480px) {
    .poback{
      display: none;
    }
    .details {
      padding-left: 0px;
  }
  .boot {
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 12px;
}

  }
  @media  screen and (min-width:320px)and (max-width:767px) {
    .poster-o{
      padding-top: 15px;
    }
  }