.navbar{
  background-color: rgb(13 13 19);;
}
.wakk{
  margin-right: 3px;
  margin-top: 3px;
}
.links-Nav_Y2Y{

    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins";
    color:rgb(180, 150, 150);
    padding-left: 0px;
   
    
    transition: .3s;
  }
  .Nav-Link{
    padding-right:20px;
  }
  .top-logo{
    padding-left: 30px;
    font-family: monospace;
  }
  .bg-colr{
      background-color: rgb(47 42 60);;
      border-radius: 25px;
      margin: 0px 14px;
      border-radius: 100px;
      font-family: "Poppins";
      padding: 6px 26px 6px 13px;
  }
  .card-mr{
    margin-right: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  /* .navbar-nav > Nav.Link{

    padding-right:20px;
  } */
  .market-1{
      margin-left: 70px;
  }
  .mar-01{
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 2px;

  }
  .navbar-nav > button{
    /* margin-left:12px; */
    /* margin-right:12px; */
 font-size: 13px;
  }
  .bell_0{
    font-family: "setif";
  }
  .fas{
    color: white;
  } 
  .btn-wallet{
    background: -webkit-linear-gradient(
      45deg,#85ffc4,#5cc6ff,#bc85ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Poppins";
      font-size: 14px;
  }
  .btn-connect-wallet{
    margin: 0px 1px;
    border-radius: 100px;
    font-family: "Poppins";
    /* padding:7px 18px 7px 18px; */
    background: rgb(28 25 36);;
    
  }
  .btn-ox{
    margin-left: -44px;
  }
.btn-waal{
    color: white;
    padding-right: 12px;
    font-size: 14px;
}

.nav_bell{
    background: #3d23d4;
    border-radius: 25px;
    padding: 2px 8px 2px 8px;
    margin: 6px 9px;
    font-size: 11px;
    box-shadow: 0 1px 2px #3d23d4, inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  }
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
}
  @media  screen and (min-width:992px)and (max-width:1212px) {
    .market-1 {
      margin-left: 0px;
  }
 
  .navbar-nav > button {
    /* margin-left: 12px; */
    margin-right: 12px;
    font-size: 12px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.links-Nav_Y2Y {
  font-size: 12px;
}
.top-logo{
  padding-left: 0px;
}
  }
  @media  screen and (min-width:320px)and (max-width:991px) {
    .links-Nav_Y2Y{
     display: flex;
    text-align: center;
  
    }
    .mobile-btn{
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
    .bg-colr {
     
      padding: 6px 5px 6px 11px;
  }
    .market-1 {
      margin-left: 0px;
  }
  .navbar-nav > button{
   width: 33%;
 margin-top: 12px;
 margin-left: 12px;
 padding: 7px;
  }
  .btn-ox {
    margin-left: 12px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  /* padding-right: 1.5rem; */
  padding-left: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
  }